<!DOCTYPE html>
{% load static %}
<html lang="en">
<head><title>Login</title>
<meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1, shrink-to-fit=no">
    <style></style>
    <link rel="stylesheet" href="{% static 'css/style.css' %}?200 542">

 </head>
<body class="bg">
<h1 style="color:white">Reset Your Password</h1><br><br>
<form method="POST">
    {% csrf_token %}
    <input type="email" name="email" placeholder="email"><br><br>
    <button type="Submit">Send Confirmation Link</button>
</form>
</body>
</html>