<!DOCTYPE html>
{% load static %}
<html lang="en">
<head><title>reset</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1, shrink-to-fit=no">
    <style></style>
    <link rel="stylesheet" href="{% static 'css/style.css' %}?">

 </head>

<body class="bg">
    <div class="account">
        <h1 style="color:cyan"> Reset Your Password </h1>
    </div>

<div>

<form  method="POST">
    {% csrf_token %}

    <input type="email" name="email" placeholder="Email" required="True"><br><br>

    <input type="password" name="new_password1" placeholder="New Password"><br><br>
    <input type="password" name="new_password2" placeholder="Confirm Password"><br><br>



    {% for field in form %}
        {% for error in field.errors %}
    <p style="color:red">{{ error }}</p><br>
        {% endfor %}
    {% endfor %}
    <button type="submit">Save</button>

</form><br>



    <h2>Confirm your new  password</h2><br><br>



</div>
</body>
</html>